<svg width="185" height="40" xmlns="http://www.w3.org/2000/svg">
  <g>
   <title>background</title>
   <rect x="-1" y="-1" width="187" height="42" id="canvas_background" fill="none"/>
  </g>
 
  <g>
   <title>Layer 1</title>
   <g stroke="null" id="svg_1">
    <g stroke="null" id="XMLID_7_">
     <g stroke="null" id="svg_2">
      <g stroke="null" id="svg_3">
       <path stroke="null" fill="#E15D23" d="m35.21343,2.2c2.02861,2.25 2.02861,5.85 0,8.1l-1.50697,1.73571l-22.89432,25.39286l-1.04329,1.15714c-2.02861,2.25 -5.27439,2.25 -7.303,0l-0.23184,-0.32143c-2.02861,-2.25 -2.02861,-5.91429 0,-8.1l1.15921,-1.28571l22.83636,-25.39286l1.39105,-1.54286c2.02861,-2.25 5.33235,-2.25 7.303,0l0.2898,0.25714z" id="svg_4"/>
      </g>
      <g stroke="null" id="svg_5">
       <path stroke="null" fill="#F9B84E" d="m34.28607,12.61429c1.97065,2.18571 1.97065,5.78571 0,8.03571l-15.70724,17.42143c-1.97065,2.18571 -5.21643,2.18571 -7.18708,0l-0.5796,-0.64286l22.89432,-25.39286l0.5796,0.57857z" id="svg_6"/>
      </g>
      <g stroke="null" id="svg_7">
       <path stroke="null" fill="#F9B84E" d="m26.22959,3.48571l-22.89432,25.39286l-0.63756,-0.70714c-1.97065,-2.18571 -1.97065,-5.78571 0,-8.03571l15.64928,-17.42143c1.97065,-2.18571 5.21643,-2.18571 7.24504,0l0.63756,0.77143z" id="svg_8"/>
      </g>
     </g>
     <g stroke="null" id="svg_9">
      <g stroke="null" id="svg_10">
       <path stroke="null" fill="#2C2C3D" d="m6.11736,40.9c-1.56493,0 -3.01394,-0.64286 -4.05722,-1.86429l-0.2898,-0.32143c-2.26045,-2.50714 -2.26045,-6.55714 0,-9.06429l1.15921,-1.28571l24.34333,-27c1.10125,-1.22143 2.55025,-1.86429 4.05722,-1.86429s3.01394,0.64286 4.05722,1.86429l0.23184,0.38571c1.10125,1.22143 1.68085,2.82857 1.68085,4.5s-0.5796,3.34286 -1.68085,4.5l-1.50697,1.67143l-23.9376,26.61429c-1.10125,1.22143 -2.55025,1.86429 -4.05722,1.86429zm25.21273,-40.05c-1.21717,0 -2.37637,0.51429 -3.24578,1.47857l-25.50253,28.28571c-1.79677,1.99286 -1.79677,5.20714 0,7.2l0.2898,0.32143c0.8694,0.96429 2.02861,1.47857 3.24578,1.47857s2.37637,-0.51429 3.24578,-1.47857l25.44457,-28.22143c1.79677,-1.99286 1.79677,-5.20714 0,-7.2l-0.23184,-0.32143c-0.8694,-0.96429 -2.02861,-1.54286 -3.24578,-1.54286z" id="svg_11"/>
      </g>
      <g stroke="null" id="svg_12">
       <path stroke="null" fill="#2C2C3D" d="m14.98529,40.38571c-1.50697,0 -2.95598,-0.64286 -3.99926,-1.86429c-0.23184,-0.25714 -0.23184,-0.64286 0,-0.9s0.5796,-0.25714 0.81144,0c1.73881,1.92857 4.63682,1.92857 6.37563,0l15.70724,-17.42143c1.73881,-1.92857 1.73881,-5.14286 0,-7.07143c-0.23184,-0.25714 -0.23184,-0.64286 0,-0.9s0.5796,-0.25714 0.81144,0c1.10125,1.22143 1.68085,2.76429 1.68085,4.43571s-0.5796,3.27857 -1.68085,4.43571l-15.70724,17.42143c-1.04329,1.15714 -2.49229,1.86429 -3.99926,1.86429z" id="svg_13"/>
      </g>
      <g stroke="null" id="svg_14">
       <path stroke="null" fill="#2C2C3D" d="m2.63974,28.81429c-0.17388,0 -0.2898,-0.06429 -0.40572,-0.19286c-1.10125,-1.22143 -1.68085,-2.76429 -1.68085,-4.43571c0,-1.67143 0.5796,-3.27857 1.68085,-4.43571l15.70724,-17.48571c1.10125,-1.15714 2.49229,-1.8 4.05722,-1.8s2.95598,0.64286 3.99926,1.86429c0.23184,0.25714 0.23184,0.64286 0,0.9s-0.5796,0.25714 -0.81144,0c-1.73881,-1.92857 -4.63682,-1.92857 -6.37563,0l-15.7652,17.35714c-1.73881,1.92857 -1.73881,5.14286 0,7.07143c0.23184,0.25714 0.23184,0.64286 0,0.9c-0.11592,0.19286 -0.23184,0.25714 -0.40572,0.25714z" id="svg_15"/>
      </g>
      <g stroke="null" id="svg_16">
       <path stroke="null" fill="#2C2C3D" d="m5.94348,35.69286c-0.34776,0 -0.5796,-0.25714 -0.5796,-0.64286c0,-2.18571 1.62289,-3.98571 3.59354,-3.98571c0.63756,0 1.27513,-0.25714 1.73881,-0.77143c0.46368,-0.51429 0.69552,-1.15714 0.69552,-1.92857c0,-1.22143 0.40572,-2.37857 1.21717,-3.27857c0.81144,-0.9 1.85473,-1.35 2.95598,-1.35l0.5796,0c1.33309,0 2.43433,-1.22143 2.43433,-2.7l0,-1.28571c0,-2.18571 1.62289,-3.98571 3.59354,-3.98571l0.5796,0c1.33309,0 2.43433,-1.22143 2.43433,-2.7l0,-1.35c0,-2.18571 1.62289,-3.98571 3.59354,-3.98571c0.63756,0 1.27513,-0.25714 1.68085,-0.77143c0.46368,-0.51429 0.69552,-1.15714 0.69552,-1.92857c0,-0.38571 0.23184,-0.64286 0.5796,-0.64286s0.5796,0.25714 0.5796,0.64286c0,1.02857 -0.34776,2.05714 -1.04329,2.82857c-0.69552,0.77143 -1.56493,1.15714 -2.55025,1.15714c-1.33309,0 -2.43433,1.22143 -2.43433,2.7l0,1.35c0,2.18571 -1.62289,3.98571 -3.59354,3.98571l-0.5796,0c-1.33309,0 -2.43433,1.22143 -2.43433,2.7l0,1.28571c0,2.18571 -1.62289,3.98571 -3.59354,3.98571l-0.5796,0c-0.81144,0 -1.56493,0.32143 -2.14453,0.96429c-0.5796,0.64286 -0.8694,1.47857 -0.8694,2.37857c0,1.02857 -0.34776,2.05714 -1.04329,2.82857s-1.56493,1.15714 -2.55025,1.15714c-1.33309,0 -2.43433,1.22143 -2.43433,2.7c0.05796,0.38571 -0.17388,0.64286 -0.52164,0.64286z" id="svg_17"/>
      </g>
     </g>
    </g>
   </g>
   <text fill="#000000" stroke-width="0" stroke-opacity="null" fill-opacity="null" x="55.21735" y="30.40993" id="svg_20" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(1.136976275092722,0,0,1.4246790279534538,-19.79947434605042,-12.518410586106459) " stroke="#000">MyBlogDog</text>
  </g>
 </svg>