{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      {{ range (where .Site.RegularPages "Section" "examples") }}
      <div class="col-lg-6 col-md-12 col-sm-12 mb-12">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-android-open"></i>
            </a>
          </div>
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
        <h4 class="mb-2">{{.Title}}</h4>
        <p class="price">{{if .Params.discount_price}}{{site.Params.currency}}{{.Params.discount_price}}{{else}}{{site.Params.currency}}{{.Params.price}}{{end}}
          {{if .Params.discount_price}}<s class="price">{{site.Params.currency}}{{ .Params.price }}</s>{{end}}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}