{{ define "main" }}

<section class="section">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <div class="row">
      <div class="col-md-9 mb-6 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          {{ range .Params.images }}
          <div data-image="{{ . | absURL }}">
            <img class="img-fluid w-100" src="{{ . | absURL }}" alt="product-image">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-3 mb-6">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}