$font-path: "../fonts/"
$prev-icon-path: "../images/icons/previous.svg"
$next-icon-path: "../images/icons/double-arrow.svg"
$never-icon-path: "../images/sitting.svg"

$light_background: #fff
$light_text: rgb(18,20,24)
$light_accent: #f5f5f5
$light_theme: rgb(52,199,89)
$dark_background: #000
$dark_text: #eeeeee
$dark_accent: rgb(16,16,18)
$dark_theme: rgb(48,209,88)
$light_posts_background: #fff
$dark_posts_background: #eee

html
  --color-mode: "lit"
  --font: 'Metropolis', sans-serif
  --ease: cubic-bezier(.19,1,.22,1)
  --dark: #{$light_text}
  --light: #{$light_posts_background}
  --accent: #{$light_accent}
  --bg: #{$light_background}
  --bg-dark: #{$dark_background}
  --text: #{$light_text}
  --theme: #{$light_theme}

  @mixin darkmode
    --color-mode: 'dim'
    --light: #{$dark_posts_background}
    --bg: #{$dark_background}
    --text: #{$dark_text}
    --accent: #{$dark_accent}
    --theme: #{$dark_theme}
    *
      box-shadow: none !important

    main p
      opacity: 0.9

  &[data-mode="dim"]
    @include darkmode
    .color
      &_choice
        &::after
          transform: translateX(1.75rem) scale(1.67)

  @media (prefers-color-scheme: dark)
    &:not(.nodarkmode):not([data-mode="lit"])
      @include darkmode
