{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.examples.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.examples.title | markdownify }}</h2>
        </div>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "examples") }}
          <div class="block">
            <div class="gallery-overlay">
              <a href="{{ .Permalink }}" class="gallery-popup">
                <i class="tf-ion-android-open"></i>
              </a>
            </div>
            <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}