$font-path: '../fonts'
$icons: '../icons/'
$images: '../images/'

$light: #fff
$haze: #fafafa
$xhaze: darken($haze, 11%)
$bg: #002538
$theme: #0077b8
$light_header_text: #000
$light_table_and_post_background: #fff
$light_footer_background: #f2f2f2
$light_accent: #020202
$light_text: #575757
$dark_text: #fff
$dark_accent: #fff
$dark_header_text: #fff
$dark_footer_background: #002538

@mixin  content()
  --maxWidth: 1440px
  max-width: var(--maxWidth)
  margin-left: auto
  margin-right: auto

@mixin viewport($width: 1024px, $margin: 25px)
  max-width: $width
  margin: $margin auto
  @content

@mixin shadow($opacity: 0.17)
  box-shadow: 0 0 3rem rgba(0,0,0,$opacity)
  &:hover
    box-shadow: 0 0 5rem rgba(0,0,0, (1.5 * $opacity))

html
  --color-mode: 'lit'
  --font: 'Metropolis', sans-serif
  --ease: cubic-bezier(0.39, 0.575, 0.565, 1)
  --easing: cubic-bezier(.19,1,.22,1)
  --light: #{$light_table_and_post_background}
  --dark: #{$light_header_text}
  --bg: #{$bg}
  --haze: #{$light_footer_background}
  --accent: #{$light_accent}
  --text: #{$light_text}
  --theme: #{$theme}
  --header-text: var(--dark)
  --code-bg: var(--bg)
  --table-bg: var(--light)
  --table-haze: var(--haze)
  --table-border: #dedede
  --footer-bg: var(--haze)
  --shadow: rgba(0,0,0,0.12)
  --translucent: rgba(0,0,0,0.05)
  --translucent-light: rgba(255,255,255,0.05)
  --post-bg: var(--light)
  --choice-bg: var(--haze)
  &.page
    --choice-bg: var(--light)
  @mixin darkmode
    --color-mode: 'dim'
    --text: #{$dark_text}
    --accent: #{$dark_accent}
    --choice-bg: #{$dark_footer_background}
    --code-bg: var(--translucent-light)
    --header-text: #{$dark_header_text}
    --table-bg: var(--code-bg)
    --table-haze: rgba(255,255,255,0.1)
    --table-border: var(--code-bg)
    --footer-bg: #{$dark_footer_background}
    --post-bg: var(--translucent-light)
    *
      box-shadow: none !important

  &[data-mode="dim"]
    @include darkmode
    blockquote
      background: var(--translucent-light)
      color: #dedede
    svg.icon
      fill: var(--light)
    img:not(.nav_icon):not(.transparent)
      // background: var(--light)
    .icon
      img
        background: none
      svg
        fill: #fafafa
    .sidebar
      &_inner
        &::before
          display: none
    .color
      &_choice
        &::after
          background-image: url("#{$images}night-moon.jpg")
          transform: translateX(1.4rem)

  @media (prefers-color-scheme: dark)

    &:not([data-mode="lit"])
      @include darkmode
      blockquote
        background: var(--translucent-light)
        color: #dedede
      svg.icon
        fill: var(--light)
      img:not(.nav_icon):not(.transparent)
        // background: var(--light)
      .icon
        img
          background: none
        svg
          fill: #fafafa
      .sidebar
        &_inner
          &::before
            display: none
      .color
        &_choice
          &::after
            background-image: url("#{$images}night-moon.jpg")
            transform: translateX(1.4rem)
